@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/montserrat/Montserrat-Light.ttf');

}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('./assets/fonts/montserrat/Montserrat-Bold.ttf');
    
}

@layer base {
    

    h1 {
        @apply text-4xl;
        /* font-family: 'Montserrat-Bold', sans-serif; */
    }
    h2 {
        @apply text-3xl;
        /* font-family: 'Montserrat-Bold', sans-serif; */
    }
    /* ... */
}
